.menu-item {
  padding: 4px 8px 0 8px;
  a {
    cursor: pointer;
    border-radius: 2px;
    &:hover {
      background-color: #ececec !important;
      color: #d81b60;
    }
    .item-text {
        padding-left: 2px;
        padding-top: 2px;
    }
    padding: 5px;
    display: flex;
    width: auto;
    text-transform: uppercase;
    .routeIcon {
      margin-right: 40px;
    }
  }
  .transition-more {
      transition: all 0.3s;
  }
}
