RewriteEngine on

RewriteCond %{REQUEST_URI} ^/404/$
ErrorDocument 404 /index.html

RewriteCond %{HTTP_HOST} ^rxjs.denobr.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.rxjs.denobr.com$
RewriteCond %{REQUEST_URI} !build/
RewriteRule (.*) /build/$1 [L]