RewriteEngine on

RewriteCond %{HTTP_HOST} ^rxjs.denobr.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.rxjs.denobr.com$
RewriteCond %{REQUEST_URI} !build/
RewriteRule (.*) /build/$1 [L]

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:Xymyta
ErrorDocument 404 /build/index.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Xymyta:ERRORPAGEID

