<div class="rxjs-page">
    <div class="bg"></div>
    <header>
        <div class="container">
            <!-- LOGO -->
            <div class="hero-logo">
                <img src="assets/images/logo.svg" alt="Angular"
                    width="350" height="350">
            </div>
            <!-- CONTAINER -->
            <div class="homepage-container">
                <div class="hero-headline">A reactive programming <br> library for Deno.</div>
                <a class="hero-button" (click)="go('guide')">Get Started</a>
            </div>
        </div>
    </header>

    <div class="main">
        <mat-card>Coming soon...</mat-card>
    </div>
    
    <rxjs-footer></rxjs-footer>
</div>